<a href="https://colab.research.google.com/github/dionmarshalll/dataquest-terserahmulah/blob/main/dataquest_terserahmu_lah_preprocessing_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Importing necessary library

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

%matplotlib inline

from warnings import filterwarnings
filterwarnings('ignore')

#### Downloading the dataset

In [ ]:
!pip install gdown
!gdown 1F-GPfGBF3p9hUVgHFAeMljAL5vu_PwDZ
!gdown 1Z8vcyviyZfEFlmX4aqBtzh1i5dMOrjXb

Requirement already satisfied: gdown in /usr/local/lib/python3.11/dist-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (from gdown) (4.13.4)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from gdown) (3.18.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.11/dist-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from gdown) (4.67.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->gdown) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->gdown) (4.13.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (2025.4.26)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown) (1.7.1)
Downloading...
From: https://drive.google.com/uc?id=1F-GPfGBF3p9hUVgHFAeMljAL5vu_PwDZ
To: /content/training_dataset.csv
100% 3.04M/3.04M [00:00<00:00, 77.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Z8vcyviyZfEFlmX4aqBtzh1i5dMOrjXb
To: /content/validation_dataset.csv
100% 750k/750k [00:00<00:00, 33.5MB/s]

In [ ]:
df_train = pd.read_csv('training_dataset.csv')
df_validation = pd.read_csv('validation_dataset.csv')

#### Brief overview on the dataset

In [ ]:
display(df_train.head())
print(df_train.shape)

,customer_number,usia,pekerjaan,status_perkawinan,pendidikan,gagal_bayar_sebelumnya,pinjaman_rumah,pinjaman_pribadi,jenis_kontak,bulan_kontak_terakhir,hari_kontak_terakhir,jumlah_kontak_kampanye_ini,hari_sejak_kontak_sebelumnya,jumlah_kontak_sebelumnya,hasil_kampanye_sebelumnya,tingkat_variasi_pekerjaan,indeks_harga_konsumen,indeks_kepercayaan_konsumen,suku_bunga_euribor_3bln,jumlah_pekerja,pulau,berlangganan_deposito,indeks_harga_konsumen_x_berlangganan_deposito_count,ind_bd_x_hri_kontak_sbelum,ind_bd_x_bulan_kontak_trakhir
0,531036,63,sosial media specialis,menikah,Pendidikan Tinggi,no,yes,no,cellular,7,fri,2,999,0,nonexistent,-1.7,94.215,-40.3,0.885,4991.6,Papua,1,1,0,0
1,999241,43,teknisi,menikah,Pendidikan Tinggi,no,yes,no,cellular,11,fri,2,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,Sulawesi,0,0,0,0
2,995002,29,sosial media specialis,lajang,Pendidikan Tinggi,no,yes,yes,cellular,7,thu,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,Papua,0,0,0,0
3,932750,40,pekerja kasar,menikah,SMA,no,no,no,telephone,5,wed,2,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,Sumatera,1,0,0,0
4,684699,40,sosial media specialis,lajang,Pendidikan Tinggi,no,no,no,cellular,8,wed,3,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,Bali,0,0,0,0

(22916, 25)

In [ ]:
display(df_validation.head())
print(df_validation.shape)

,customer_number,usia,pekerjaan,status_perkawinan,pendidikan,gagal_bayar_sebelumnya,pinjaman_rumah,pinjaman_pribadi,jenis_kontak,bulan_kontak_terakhir,hari_kontak_terakhir,jumlah_kontak_kampanye_ini,hari_sejak_kontak_sebelumnya,jumlah_kontak_sebelumnya,hasil_kampanye_sebelumnya,tingkat_variasi_pekerjaan,indeks_harga_konsumen,indeks_kepercayaan_konsumen,suku_bunga_euribor_3bln,jumlah_pekerja,pulau,indeks_harga_konsumen_x_berlangganan_deposito_count,ind_bd_x_hri_kontak_sbelum,ind_bd_x_bulan_kontak_trakhir
0,445420,35,penyedia jasa,menikah,SMA,no,yes,yes,cellular,7,mon,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,Jawa,0,0,0
1,585604,52,teknisi,lajang,Diploma,unknown,no,no,telephone,5,thu,4,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,Papua,0,0,0
2,888824,37,pekerja kasar,menikah,SMP,unknown,yes,no,telephone,5,wed,3,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,Bali,0,0,0
3,816820,51,pengangguran,menikah,Diploma,no,no,no,telephone,5,tue,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,Sumatera,0,0,0
4,542716,45,teknisi,cerai,SMA,no,yes,no,cellular,5,thu,1,999,1,failure,-1.8,92.893,-46.2,1.327,5099.1,Sumatera,0,0,0

(5729, 24)

#### Getting the raw data for initial modelling

By encoding the object features

In [ ]:
df_train = df_train.drop(['gagal_bayar_sebelumnya'], axis=1)
df_validation = df_validation.drop(['gagal_bayar_sebelumnya'], axis=1)

##### Brief take a look at the object column to see what type encoding to use

Weather to use LabelEncode or OneHotEncoder

In [ ]:
obj_cols = df_train.select_dtypes(include='object').columns
print('Number of object features in the dataset:', obj_cols.shape[0])
print('The columns:', obj_cols.values)

Number of object features in the dataset: 9
The columns: ['pekerjaan' 'status_perkawinan' 'pendidikan' 'pinjaman_rumah'
 'pinjaman_pribadi' 'jenis_kontak' 'hari_kontak_terakhir'
 'hasil_kampanye_sebelumnya' 'pulau']

In [ ]:
df_train[obj_cols].head()

,pekerjaan,status_perkawinan,pendidikan,pinjaman_rumah,pinjaman_pribadi,jenis_kontak,hari_kontak_terakhir,hasil_kampanye_sebelumnya,pulau
0,sosial media specialis,menikah,Pendidikan Tinggi,yes,no,cellular,fri,nonexistent,Papua
1,teknisi,menikah,Pendidikan Tinggi,yes,no,cellular,fri,nonexistent,Sulawesi
2,sosial media specialis,lajang,Pendidikan Tinggi,yes,yes,cellular,thu,nonexistent,Papua
3,pekerja kasar,menikah,SMA,no,no,telephone,wed,nonexistent,Sumatera
4,sosial media specialis,lajang,Pendidikan Tinggi,no,no,cellular,wed,nonexistent,Bali

The columns that needs the encoder:
- `LabelEncoder`: pendidikan, hari_kontak_terakhir, hasil_kampanye_sebelumnya
- `OneHotEncoder`: pekerjaan, jenis_kontak, pulau
- `OneHotEncoder` - binary: status_perkawinan, gagal_bayar_sebelumnya, pinjaman_rumah, pinjaman_pribadi

##### On the columns that need LabelEncoder

In [ ]:
# doing it manually
display(df_train['pendidikan'].value_counts())
display(df_train['hari_kontak_terakhir'].value_counts())
display(df_train['hasil_kampanye_sebelumnya'].value_counts())

pendidikan
Pendidikan Tinggi    6699
SMA                  5403
SMP                  3337
Diploma              2881
Tidak Tamat SD       2284
SD                   1308
unknown               992
TIDAK SEKOLAH          12
Name: count, dtype: int64

hari_kontak_terakhir
thu    4828
mon    4686
wed    4528
tue    4496
fri    4378
Name: count, dtype: int64

hasil_kampanye_sebelumnya
nonexistent    19836
failure         2313
success          767
Name: count, dtype: int64

In [ ]:
df_train['hasil_kampanaye_sebelumnya_nonexistent'] = df_train['hasil_kampanye_sebelumnya'].apply(lambda x: 1 if x=='nonexistent' else 0)
df_validation['hasil_kampanaye_sebelumnya_nonexistent'] = df_validation['hasil_kampanye_sebelumnya'].apply(lambda x: 1 if x=='nonexistent' else 0)

In [ ]:
pendidikan_le = {
    'TIDAK SEKOLAH': 0,
    'Tidak Tamat SD': 1,
    'SD': 2,
    'SMP': 3,
    'SMA': 4,
    'Pendidikan Tinggi': 5,
    'Diploma': 6,
    'unknown': -1
}

hari_kontak_terakhir_le = {
    'mon': 1,
    'tue': 2,
    'wed': 3,
    'thu': 4,
    'fri': 5
}

hasil_kampanye_sebelumnya_le = {
    'nonexistent': -1,
    'failure': 0,
    'successs': 1
}

df_train = df_train.replace({'pendidikan': pendidikan_le, 'hari_kontak_terakhir': hari_kontak_terakhir_le, 'hasil_kampanye_sebelumnya': hasil_kampanye_sebelumnya_le})
df_validation = df_validation.replace({'pendidikan': pendidikan_le, 'hari_kontak_terakhir': hari_kontak_terakhir_le, 'hasil_kampanye_sebelumnya': hasil_kampanye_sebelumnya_le})

In [ ]:
df_train = df_train.drop(['hasil_kampanye_sebelumnya', 'customer_number'], axis=1)
df_validation = df_validation.drop(['hasil_kampanye_sebelumnya', 'customer_number'], axis=1)

In [ ]:
df_train.head()

,usia,pekerjaan,status_perkawinan,pendidikan,pinjaman_rumah,pinjaman_pribadi,jenis_kontak,bulan_kontak_terakhir,hari_kontak_terakhir,jumlah_kontak_kampanye_ini,hari_sejak_kontak_sebelumnya,jumlah_kontak_sebelumnya,tingkat_variasi_pekerjaan,indeks_harga_konsumen,indeks_kepercayaan_konsumen,suku_bunga_euribor_3bln,jumlah_pekerja,pulau,berlangganan_deposito,indeks_harga_konsumen_x_berlangganan_deposito_count,ind_bd_x_hri_kontak_sbelum,ind_bd_x_bulan_kontak_trakhir,hasil_kampanaye_sebelumnya_nonexistent
0,63,sosial media specialis,menikah,5,yes,no,cellular,7,5,2,999,0,-1.7,94.215,-40.3,0.885,4991.6,Papua,1,1,0,0,1
1,43,teknisi,menikah,5,yes,no,cellular,11,5,2,999,0,-0.1,93.200,-42.0,4.021,5195.8,Sulawesi,0,0,0,0,1
2,29,sosial media specialis,lajang,5,yes,yes,cellular,7,4,1,999,0,1.4,93.918,-42.7,4.958,5228.1,Papua,0,0,0,0,1
3,40,pekerja kasar,menikah,4,no,no,telephone,5,3,2,999,0,1.1,93.994,-36.4,4.859,5191.0,Sumatera,1,0,0,0,1
4,40,sosial media specialis,lajang,5,no,no,cellular,8,3,3,999,0,1.4,93.444,-36.1,4.964,5228.1,Bali,0,0,0,0,1

##### On the columns that need OneHotEncoder encoding

In [ ]:
# df_train.pekerjaan.value_counts()

In [ ]:
# df_train.jenis_kontak.value_counts()

In [ ]:
# df_train.pulau.value_counts()

In [ ]:
# plt.figure(figsize=(10, 5))
# sns.countplot(data=df_train, x='pekerjaan', hue='berlangganan_deposito')
# plt.xticks(rotation = 35)
# plt.show()

Will be directly encode the values in the feature without any clustering or other preprocessing to the column

In [ ]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder().fit(df_train[['pekerjaan', 'jenis_kontak', 'pulau', 'status_perkawinan', 'pinjaman_rumah', 'pinjaman_pribadi']])
encoded_df_train = pd.DataFrame(ohe.transform(df_train[['pekerjaan', 'jenis_kontak', 'pulau', 'status_perkawinan', 'pinjaman_rumah', 'pinjaman_pribadi']]).toarray(), columns=ohe.get_feature_names_out(['pekerjaan', 'jenis_kontak', 'pulau', 'status_perkawinan', 'pinjaman_rumah', 'pinjaman_pribadi']))
encoded_df_validation = pd.DataFrame(ohe.transform(df_validation[['pekerjaan', 'jenis_kontak', 'pulau', 'status_perkawinan', 'pinjaman_rumah', 'pinjaman_pribadi']]).toarray(), columns=ohe.get_feature_names_out(['pekerjaan', 'jenis_kontak', 'pulau', 'status_perkawinan', 'pinjaman_rumah', 'pinjaman_pribadi']))

df_train = df_train.drop(['pekerjaan', 'jenis_kontak', 'pulau', 'status_perkawinan', 'pinjaman_rumah', 'pinjaman_pribadi'], axis=1)
df_validation = df_validation.drop(['pekerjaan', 'jenis_kontak', 'pulau', 'status_perkawinan', 'pinjaman_rumah', 'pinjaman_pribadi'], axis=1)

df_train = pd.concat([df_train, encoded_df_train], axis=1)
df_validation = pd.concat([df_validation, encoded_df_validation], axis=1)

In [ ]:
display(df_train.head())
print(df_train.shape, df_validation.shape)

,usia,pendidikan,bulan_kontak_terakhir,hari_kontak_terakhir,jumlah_kontak_kampanye_ini,hari_sejak_kontak_sebelumnya,jumlah_kontak_sebelumnya,tingkat_variasi_pekerjaan,indeks_harga_konsumen,indeks_kepercayaan_konsumen,suku_bunga_euribor_3bln,jumlah_pekerja,berlangganan_deposito,indeks_harga_konsumen_x_berlangganan_deposito_count,ind_bd_x_hri_kontak_sbelum,ind_bd_x_bulan_kontak_trakhir,hasil_kampanaye_sebelumnya_nonexistent,pekerjaan_asisten rumah tangga,pekerjaan_entrepreneur,pekerjaan_mahasiswa,pekerjaan_manajer,pekerjaan_pekerja kasar,pekerjaan_pemilik bisnis,pekerjaan_pengangguran,pekerjaan_pensiunan,pekerjaan_penyedia jasa,pekerjaan_sosial media specialis,pekerjaan_teknisi,pekerjaan_unknown,jenis_kontak_cellular,jenis_kontak_telephone,pulau_Bali,pulau_Jawa,pulau_Kalimantan,pulau_NTB,pulau_NTT,pulau_Papua,pulau_Sulawesi,pulau_Sumatera,status_perkawinan_cerai,status_perkawinan_lajang,status_perkawinan_menikah,status_perkawinan_unknown,pinjaman_rumah_no,pinjaman_rumah_unknown,pinjaman_rumah_yes,pinjaman_pribadi_no,pinjaman_pribadi_unknown,pinjaman_pribadi_yes
0,63,5,7,5,2,999,0,-1.7,94.215,-40.3,0.885,4991.6,1,1,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,43,5,11,5,2,999,0,-0.1,93.200,-42.0,4.021,5195.8,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,29,5,7,4,1,999,0,1.4,93.918,-42.7,4.958,5228.1,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,40,4,5,3,2,999,0,1.1,93.994,-36.4,4.859,5191.0,1,0,0,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,40,5,8,3,3,999,0,1.4,93.444,-36.1,4.964,5228.1,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

(22916, 49) (5729, 48)

#### Balancing the class

In [ ]:
df_train['berlangganan_deposito'].value_counts()

berlangganan_deposito
0    20302
1     2614
Name: count, dtype: int64

In [ ]:
from sklearn.utils import resample

df_class1 = df_train[df_train['berlangganan_deposito'] == 1]
df_class0 = df_train[df_train['berlangganan_deposito'] == 0]

df_class0_downsampled = df_class0.sample(n=10000, random_state=42)

df_class1_oversampled = resample(df_class1,
                                 replace=True,      # sample with replacement
                                 n_samples=10000,   # number of samples after resampling
                                 random_state=42)

df_balanced = pd.concat([df_class0_downsampled, df_class1_oversampled])

df_balanced = df_balanced.sample(frac=1, random_state=42).reset_index(drop=True)

In [ ]:
df_train = df_balanced.copy()

#### On to the initial modelling

In [ ]:
X = df_train.drop(['berlangganan_deposito'], axis=1)
y = df_train['berlangganan_deposito']

In [ ]:
from sklearn.feature_selection import SelectKBest, f_regression

selector = SelectKBest(score_func=f_regression, k=15)
selector.fit(X, y)

selected_features = X.columns[selector.get_support()].tolist()
X = X[selected_features]

print("Selected features:", selected_features)

Selected features: ['jumlah_kontak_kampanye_ini', 'hari_sejak_kontak_sebelumnya', 'jumlah_kontak_sebelumnya', 'tingkat_variasi_pekerjaan', 'indeks_harga_konsumen', 'suku_bunga_euribor_3bln', 'jumlah_pekerja', 'indeks_harga_konsumen_x_berlangganan_deposito_count', 'ind_bd_x_hri_kontak_sbelum', 'ind_bd_x_bulan_kontak_trakhir', 'hasil_kampanaye_sebelumnya_nonexistent', 'pekerjaan_pekerja kasar', 'pekerjaan_pensiunan', 'jenis_kontak_cellular', 'jenis_kontak_telephone']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# scaling the dataset
from sklearn.preprocessing import MinMaxScaler

X_train = pd.DataFrame(MinMaxScaler().fit_transform(X_train), columns=X_train.columns)
X_test = pd.DataFrame(MinMaxScaler().fit_transform(X_test), columns=X_test.columns)
df_validation = pd.DataFrame(MinMaxScaler().fit_transform(df_validation), columns=df_validation.columns)

In [ ]:
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

def get_raw_models():
  return [XGBClassifier(), LogisticRegression(), MultinomialNB(), KNeighborsClassifier(), RandomForestClassifier()]

In [ ]:
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score, classification_report

models = get_raw_models()
for model in models:
  model.fit(X_train, y_train)
  preds = model.predict(X_test)

  print(f'From model: {model.__class__.__name__}')
  print(f'Precision score: {precision_score(y_test, preds)}')
  print(f'Recall score: {recall_score(y_test, preds)}')
  print(f'F1-score: {f1_score(y_test, preds)}')
  print(f'Accuracy score: {accuracy_score(y_test, preds)}')
  print(classification_report(y_test, preds))
  print('\n=======================================\n')

Will be using xgboost, for the next step at searching for the best hyperparameter

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

xgb = XGBClassifier(use_label_encoder=False, eval_metric='auc', gamma=0.1, colsanple_bytree=0.8, reg_alpha=0.1)

param_dist = {
    'n_estimators': [250, 350, 300, 400],
    'max_depth': [8, 10, 12, 15],
    'learning_rate': [0.1, 0.2, 0.25],
    'subsample': [0.6, 0.8, 1.0],
    'reg_lambda': [1.5, 1.8, 2.0]
}

random_search = RandomizedSearchCV(
    estimator=xgb,
    param_distributions=param_dist,
    n_iter=30,                    # Number of random combinations to try
    scoring='roc_auc',            # Use 'accuracy', 'f1', or 'roc_auc' based on your task
    cv=5,                         # 3-fold cross-validation
    verbose=1,
    random_state=42,
    n_jobs=-1                     # Use all available cores
)

# 4. Fit to your training data
random_search.fit(X_train, y_train)

# 5. Print the best parameters and score
print("Best Parameters:", random_search.best_params_)
print("Best ROC AUC Score:", random_search.best_score_)

# 6. Get best model and predict
best_model = random_search.best_estimator_
y_pred_proba = best_model.predict_proba(X_test)[:, 1]

Fitting 5 folds for each of 30 candidates, totalling 150 fits
Best Parameters: {'subsample': 0.8, 'reg_lambda': 1.5, 'n_estimators': 400, 'max_depth': 15, 'learning_rate': 0.25}
Best ROC AUC Score: 0.8488013915308062

In [ ]:
preds = best_model.predict(X_test)

print(f'From model: {model.__class__.__name__}')
print(f'Precision score: {precision_score(y_test, preds)}')
print(f'Recall score: {recall_score(y_test, preds)}')
print(f'F1-score: {f1_score(y_test, preds)}')
print(f'Accuracy score: {accuracy_score(y_test, preds)}')
print(classification_report(y_test, preds))
print('\n=======================================\n')

From model: RandomForestClassifier
Precision score: 0.757163850110213
Recall score: 0.7010204081632653
F1-score: 0.7280113034263511
Accuracy score: 0.7433333333333333
              precision    recall  f1-score   support

           0       0.73      0.78      0.76      3060
           1       0.76      0.70      0.73      2940

    accuracy                           0.74      6000
   macro avg       0.74      0.74      0.74      6000
weighted avg       0.74      0.74      0.74      6000


=======================================